@font-face {
  font-family: 'MontserratMedium';
  src: local('MontserratMedium'), url(./assets/fonts/MontserratMedium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "MontserratMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
html, #root {
  height: 100%;
  width: 100%;
}
.App {
  min-height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: url('../src/assets/images/background\ 2.png') repeat;
  background-size: cover;
  background-color: black;
}

.App-header {
  justify-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width:30vw;
  padding: 3vh;
}

.App-header img {
  padding: 2vh;
}
.App-header img+img {
  padding-left: 0px;
}

.uniSwap {
  border: 0;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  max-width: 660px;
  min-width: 300px;
  overflow: hidden;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mining-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mining-btn, .claim-btn {
  width:10vw;
  min-width: 100px;
  height:50px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}
.claim-text {
  font-weight: bold;
  font-family: "MontserratMedium";
  color: white;
  text-align: center;
  margin: 20px 0px;
}
.claim-text+.claim-text {
  margin-top: 0px;
}
.claim-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.monkey-container {
  background-color: rgba(148, 135, 135, 0.5);
  padding:1vw;
  border-radius: 20px;
  margin-bottom: 5vh;
}
.monkey-list {
  width:40vw;
  min-height: 50vh;
  min-width: 320px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.monkey-list::-webkit-scrollbar {
  width: 5px;
}
.monkey-list::-webkit-scrollbar-track {
  background: transparent;
}
.monkey-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.monkey-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.monkey-img {
  width:9vw;
  min-width: 100px;
  height:'auto';
  padding:1vw;
}
.App-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}
.container{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .mining-btn, .claim-btn { 
    font-size: 1.1em;
    min-width: 80px;
    height:40px;
  }
  .logo {
    width:50vw;
  }
  .monkey-container {
    padding:4vw 2vw;
  }
}
@media screen and (min-width: 700px) {
  .monkey-list { 
    min-width: 500px;
  }
}